[Unit]
Description=Proftpd Service
After=docker.service
Requires=docker.service

[Service]
Environment="NAME=hauptmedia-proftpd"
TimeoutStartSec=300
ExecStartPre=-/usr/bin/docker kill ${NAME}
ExecStartPre=-/usr/bin/docker rm -f ${NAME}
ExecStartPre=/usr/bin/docker pull hauptmedia/proftpd
ExecStart=/usr/bin/docker run \
	--name ${NAME} \
	-p 20:20 \
	-p 21:21 \
	-e FTP_USERNAME=test \
	-e FTP_PASSWORD=test \
	hauptmedia/proftpd
ExecStop=/usr/bin/docker stop ${NAME}
Restart=always

[Install]
WantedBy=multi-user.target
